<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.bee.IDao.KnowledgeCommentMapper">
	<resultMap id="BaseResultMap" type="com.ovit.bee.pojo.KnowledgeComment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="information_detail_id" property="informationDetailId" jdbcType="INTEGER" />
		<result column="user_account" property="userAccount" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="thumb_up_num" property="thumbUpNum" jdbcType="INTEGER" />
		<result column="post_id" property="postId" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.ovit.bee.pojo.KnowledgeComment"
		extends="BaseResultMap">
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, information_detail_id, user_account, user_name,create_time,
		thumb_up_num,post_id
	</sql>
	<sql id="Blob_Column_List">
		content
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from knowledge_comment
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 查询评论结果 -->
	<select id="findKnowledgeComment" resultMap="BaseResultMap" parameterType="com.ovit.bee.pojo.KnowledgeComment">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from knowledge_comment
		where 1=1
		<if test="informationDetailId != null">
			and information_detail_id = #{informationDetailId}
		</if>

	</select>

	<select id="findKnowledgeCommentId" resultMap="BaseResultMap" parameterType="com.ovit.bee.pojo.KnowledgeComment">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from knowledge_comment
		where id = #{id}
	</select>

	<!-- 查询我的评论 -->
	<select id="findMyComment" resultMap="BaseResultMap" parameterType="com.ovit.bee.pojo.KnowledgeComment">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from knowledge_comment
		where information_detail_id = #{informationDetailId} and user_account =
		#{userAccount}
	</select>

	<insert id="insert" parameterType="com.ovit.bee.pojo.KnowledgeComment">
		insert into knowledge_comment (id, information_detail_id,
		user_account,
		user_name, content, create_time,post_id,
		thumb_up_num)
		values (#{id,jdbcType=INTEGER}, #{informationDetailId,jdbcType=INTEGER},
		#{userAccount,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{postId,jdbcType=INTEGER},#{thumbUpNum,jdbcType=INTEGER})
	</insert>

	<update id="updateThumbUpNum" parameterType="com.ovit.bee.pojo.KnowledgeComment">
		update knowledge_comment
		set
		thumb_up_num = #{thumbUpNum,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>