<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovit.bee.IDao.CorpInfoMapper">
  <resultMap id="BaseResultMap" type="com.ovit.bee.pojo.CorpInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="login_account" jdbcType="VARCHAR" property="loginAccount" />
    <result column="corp_name" jdbcType="VARCHAR" property="corpName" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="corp_code" jdbcType="VARCHAR" property="corpCode" />
    <result column="qr_code_url" jdbcType="VARCHAR" property="qrCodeUrl" />
    <result column="business_scope" jdbcType="VARCHAR" property="businessScope" />
    <result column="credit_code" jdbcType="VARCHAR" property="creditCode" />
    <result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="identification_card" jdbcType="VARCHAR" property="identificationCard" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="identification_card_url" jdbcType="VARCHAR" property="identificationCardUrl" />
    <result column="identification_card_negtive_url" jdbcType="VARCHAR" property="identificationCardNegtiveUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, login_account, corp_name, avatar, corp_code, qr_code_url, "business_scope", 
    credit_code, legal_person, business_license, mobile, phone, identification_card, 
    email, operator, identification_card_url, identification_card_negtive_url, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from corp_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAll"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from corp_info
   
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from corp_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ovit.bee.pojo.CorpInfo">
    insert into corp_info (id, login_account, corp_name, 
      avatar, corp_code, qr_code_url, 
      business_scope, credit_code, legal_person, 
      business_license, mobile, phone, 
      identification_card, email, operator, 
      identification_card_url, identification_card_negtive_url, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{loginAccount,jdbcType=VARCHAR}, #{corpName,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{corpCode,jdbcType=VARCHAR}, #{qrCodeUrl,jdbcType=VARCHAR}, 
      #{businessScope,jdbcType=VARCHAR}, #{creditCode,jdbcType=VARCHAR}, #{legalPerson,jdbcType=VARCHAR}, 
      #{businessLicense,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{identificationCard,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{identificationCardUrl,jdbcType=VARCHAR}, #{identificationCardNegtiveUrl,jdbcType=VARCHAR}, 
     now())
  </insert>
  <insert id="insertSelective" parameterType="com.ovit.bee.pojo.CorpInfo">
    insert into corp_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginAccount != null">
        login_account,
      </if>
      <if test="corpName != null">
        corp_name,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="corpCode != null">
        corp_code,
      </if>
      <if test="qrCodeUrl != null">
        qr_code_url,
      </if>
      <if test="businessScope != null">
        business_scope,
      </if>
      <if test="creditCode != null">
        credit_code,
      </if>
      <if test="legalPerson != null">
        legal_person,
      </if>
      <if test="businessLicense != null">
        business_license,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="identificationCard != null">
        identification_card,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="identificationCardUrl != null">
        identification_card_url,
      </if>
      <if test="identificationCardNegtiveUrl != null">
        identification_card_negtive_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginAccount != null">
        #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="corpName != null">
        #{corpName,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="corpCode != null">
        #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="qrCodeUrl != null">
        #{qrCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null">
        #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="identificationCard != null">
        #{identificationCard,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="identificationCardUrl != null">
        #{identificationCardUrl,jdbcType=VARCHAR},
      </if>
      <if test="identificationCardNegtiveUrl != null">
        #{identificationCardNegtiveUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
       now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ovit.bee.pojo.CorpInfo">
    update corp_info
    <set>
      <if test="loginAccount != null">
        login_account = #{loginAccount,jdbcType=VARCHAR},
      </if>
      <if test="corpName != null">
        corp_name = #{corpName,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="corpCode != null">
        corp_code = #{corpCode,jdbcType=VARCHAR},
      </if>
      <if test="qrCodeUrl != null">
        qr_code_url = #{qrCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null">
        business_scope = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        credit_code = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null">
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null">
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="identificationCard != null">
        identification_card = #{identificationCard,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="identificationCardUrl != null">
        identification_card_url = #{identificationCardUrl,jdbcType=VARCHAR},
      </if>
      <if test="identificationCardNegtiveUrl != null">
        identification_card_negtive_url = #{identificationCardNegtiveUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time =now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ovit.bee.pojo.CorpInfo">
    update corp_info
    set login_account = #{loginAccount,jdbcType=VARCHAR},
      corp_name = #{corpName,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      corp_code = #{corpCode,jdbcType=VARCHAR},
      qr_code_url = #{qrCodeUrl,jdbcType=VARCHAR},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      business_license = #{businessLicense,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      identification_card = #{identificationCard,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      identification_card_url = #{identificationCardUrl,jdbcType=VARCHAR},
      identification_card_negtive_url = #{identificationCardNegtiveUrl,jdbcType=VARCHAR},
      create_time =now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>